/* トースト通知デザイン */

/* PC */
@media only screen and (min-width: 600px) {
  @supports not (-moz-appearance: none) {
    .Vue-Toastification__container.top-right .Vue-Toastification__toast--rtl,
    .Vue-Toastification__container.bottom-right
      .Vue-Toastification__toast--rtl {
      position: absolute;
      top: 42px !important;
      margin: 0px !important;
      right: 2% !important;
    }
  }
}
/* モバイル */
@media only screen and (max-width: 600px) {
  .Vue-Toastification__container.top-right .Vue-Toastification__toast--rtl,
  .Vue-Toastification__container.bottom-right .Vue-Toastification__toast--rtl {
    position: absolute;
    top: 47px !important; /* 上から47pxの位置に配置 */
    margin: 0px !important;
    right: 2% !important;
  }
}

/* 全トーストのデザイン */
.Vue-Toastification__toast {
  margin: 0px !important;
  padding: 4px 4px !important;
  min-width: 170px !important;
  max-width: 170px !important;
  min-height: 40px !important;
  border-radius: 3px !important;
}
/* アイコンサイズ */
.Vue-Toastification__icon {
  width: 15px !important;
  margin-right: 5px !important;
  margin-left: 5px !important;
}
/* 成功トースト専用のデザイン */
.Vue-Toastification__toast--success {
  background-color: var(--top-bar-menu-background-80) !important;
  color: var(--top-bar-menu-text) !important;
}
/* エラートースト専用のデザイン */
.Vue-Toastification__toast--errer {
  background-color: var(--top-bar-menu-background-80) !important;
  color: var(--top-bar-menu-text) !important;
}

/* 文字サイズ */
.Vue-Toastification__toast-body {
  font-size: 12px !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

/* RTL のスタイルを無効化（必要な場合） */
.Vue-Toastification__toast--rtl {
  direction: ltr !important;
}
